<!--
  Generated template for the ListadoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Listado</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let sitio of sitios">
      <ion-item (click)="muestraSitio(sitio)">
        <ion-thumbnail item-left>
          <img [src]="sitio.foto">
        </ion-thumbnail>
        <h2>{{ sitio.address }}</h2>
        <p>{{ sitio.description }}</p>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="borrarSitio(sitio.id)"><ion-icon name="trash"></ion-icon>
          Borrar
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>