<!--
  Generated template for the ModalDetalleSitioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ sitio.address }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cerrarModal()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="!edit">
    <img [src]="sitio.foto" *ngIf="sitio.foto" />
    <ion-card-content>
      <ion-item text-wrap>
        <h2>{{ sitio.address }}</h2>
        <p>{{ sitio.description }}</p>
      </ion-item>
    </ion-card-content>
    <ion-row>
      <ion-col text-center>
        <button ion-button icon-left clear small (click)="comoLlegar()">
          <ion-icon name="navigate"></ion-icon>
          <div>Como llegar</div>
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button icon-left clear small (click)="editar()">
          <ion-icon name="editar"></ion-icon>
          <div>Editar</div> </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card *ngIf="edit">
    <ion-card-content>
      <form (ngSubmit)="guardarCambios()">
        <ion-item>
          <img [src]="sitio.foto" *ngIf="sitio.foto" />
          <button ion-button icon-left full type="button" (tap)="sacarFoto()">
            Foto&nbsp;&nbsp;
            <ion-icon name="camera"></ion-icon>
          </button>
        </ion-item>
        <hr/>
        <ion-item>
          <ion-label>Descripción</ion-label>
          <ion-textarea [(ngModel)]="sitio.description" name="description"></ion-textarea>
        </ion-item>
        <button ion-button type="submit" block>Actualizar Sitio</button>
      </form>
    </ion-card-content>
  </ion-card>


</ion-content>